<script>
    import Button from "$lib/components/buttons/Button.svelte";
</script>

<svelte:head>
    <title>Grapejuice - Home</title>
</svelte:head>

<main class="hero-background min-h-screen flex flex-row justify-center items-center">
    <div class="grid grid-cols-12 grid-rows-6 aspect-video my-10 min-w-full">
        <div class="inline-flex flex-col gap-2 backdrop-blur-md bg-gray-700/70 text-white rounded-xl border border-purple-600 border-solid-1 p-6 col-start-2 row-start-3 col-span-3 row-span-2">
            <header class="text-2xl"> Grapejuice </header>
            <div> Roblox on Linux, without the hassle. </div>
            <div class="mt-4">
                <Button href="/documentation/install">Get started</Button>
            </div>
        </div>
    </div>
</main>

<section class="min-h-screen bg-slate-300"> Burger </section>

<style lang="scss">
    .hero-background {
        background-image: url("/images/hero-image-placeholder.avif");
        background-size: cover;
        background-position: center center;
    }
</style>
