/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
    @apply leading-relaxed text-base;
  }
  
  /* Headers */
  .markdown h1,
  .markdown h2 {
    @apply text-xl mb-6 font-semibold;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-lg mb-3 font-semibold;
  }
  
  @screen sm {
    .markdown h1,
    .markdown h2 {
      @apply text-2xl;
    }
    .markdown h3,
    .markdown h4,
    .markdown h5,
    .markdown h6 {
      @apply text-xl;
    }
  }
  
  /* Links */
  .markdown a {
    @apply text-blue-600;
  }
  .markdown a:hover {
    @apply underline;
  }
  /* Paragraph */
  .markdown p {
    @apply mb-4;
  }
  /* Lists */
  .markdown ul,
  .markdown ol {
    @apply mb-4 ml-8;
  }
  .markdown li > p,
  .markdown li > ul,
  .markdown li > ol {
    @apply mb-0;
  }
  .markdown ol {
    @apply list-decimal;
  }
  .markdown ul {
    @apply list-disc;
  }
  /* Blockquotes */
  .markdown blockquote {
    @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
  }
  .markdown blockquote > p {
    @apply mb-0;
  }
  /* Tables */
  .markdown td,
  .markdown th {
    @apply px-2 py-1 border border-gray-400;
  }
  .markdown tr:nth-child(odd) {
    @apply bg-gray-100;
  }
  .markdown table {
    @apply mb-6;
  }
  
  /* Wrap any inline highlights `that are really long`, but don't modify
     the setting for codeblocks (inside ```), which are rendered in as:
     <pre><code>...
  */
  .markdown :not(pre) > code.language-text {
    white-space: pre-line;
  }
  /* purgecss end ignore */
