<script lang="ts">
    export let href: string | null = null
</script>

{#if href}
<a class="button" {href}>
    <slot />
</a>
{:else}
<div class="button">
    <slot />
</div>
{/if}

<style lang="postcss">
    .button {
        @apply bg-purple-700 text-purple-50 rounded-md px-4 py-2;
    }
</style>
