<script>
    import { page } from "$app/stores";
    import { mdiOpenInNew } from "@mdi/js";
    import MdIcon from "./MdIcon.svelte";
</script>

<div class="flex flex-row items-center px-4 bg-purple-900/60 text-white fixed w-full top-0 left-0 backdrop-blur-lg z-20">
    <div class="flex flex-row items-center justify-between">
        <a class="inline-flex flex-row items-center gap-2" href="/">
            <img src="/images/grapejuice.svg" class="h-10 my-5 mx-4" alt="Grapejuice Logo" />
            <span class="text-2xl">Grapejuice</span>
        </a>
        <ul class="flex flex-row gap-4 items-center mx-8 text-purple-400">
            <li>
                <a href="/" class="hover:text-purple-50" class:text-purple-50={$page.url.pathname === "/"}>Home</a>
            </li>
            <li>
                <a href="/documentation" class="hover:text-purple-50" class:text-purple-50={$page.url.pathname.startsWith("/documentation")}>Documentation</a>
            </li>
            <li>
                <a href="https://gitlab.com/brinkervii/grapejuice" class="inline-flex flex-row items-center gap-1 hover:text-purple-50" target="_blank">
                    <span>Soure Code</span>
                    <MdIcon path={mdiOpenInNew} size={0.88} />
                </a>
            </li>
        </ul>
        <span>&nbsp</span>
    </div>
</div>
